<%= content_tag :div, class: "container" do %>
    <%= content_tag :table do %>
        <%= content_tag :thead do %>
            <%= content_tag :tr do %>
            <%= content_tag :th, "Habit" %>
            <%= content_tag :th, "Date" %>
            <% end %>
        <% end %>
        <%= content_tag :tbody do %>
            <% @habits.each do |habits| %>
            <%= content_tag :tr do %>
                <td><%= habits.Habit %></td>
                <td><%= habits.created_at %></td>
            <% end %>
            <% end %>
        <% end %>
    <% end %>
    <%= button_tag "Add", class: "add" %>
<% end %>